  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target=<%= "#collapse"+ article._id%>
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        <%= article.title%>
      </button>
    </h2>
    <div
      id=<%= "collapse"+ article._id%>
      class="accordion-collapse collapse"
      aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <%= article.comment%>
      </div>
    </div>
  </div>