<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <%- include('includes/head') %>  -->
    <link rel="stylesheet" href="/stylesheets/article.css" />
  </head>
  <body>
    <!-- <%- include('includes/header') %>  -->
    <main>
      <section>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">제목</h5>
            <p class="card-text">코멘트</p>
            <a href="#" class="btn btn-primary">상세페이지</a>
          </div>
        </div>
      </section>
    </main>
    <!-- <%- include('includes/footer') %>  -->
  </body>
</html>
