<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %> 
    <link rel="stylesheet" href="/stylesheets/communitModal.css">
    <link rel="stylesheet" href="/stylesheets/article.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>    
    <script src="/javascripts/community.js" defer></script>
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <%- include('includes/header') %> 
    <!-- 메인 헤더-->
    <header class="masthead">
      <div class="container">
        <div class="masthead-subheading">힘든 동물들을 한번 살펴보세요.</div>
        <div class="masthead-heading text-uppercase">This Site For Animal</div>
      </div>
    </header>
    <!--커뮤니티 섹션-->
    <section>
      <div class="communityContainer">
        <div id="communityContainer"></div>
        <!--받아온 데이터에 따라서 페이지 링크 갯수를 만들어줘야함.-->
        <nav aria-label="Page navigation example" class="navpage">
          <div class="communicationBoard"></div>
          <!-- Modal -->
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            id="modalBtn" style="float: right;"
          >
            입력하기
          </button>
          <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
          >
          <div
          class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
          >
          <div class="modal-content">
            <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    동물들을 사랑하는 사람들과 정보를 나눠요.
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form action="/board/community" method="post" class="communityBox">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="title" name="title">
                      <label for="title">글 제목</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="region" name="region">
                      <label for="region">장소</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="tel" class="form-control" id="contact" name="contact">
                      <label for="contact">연락처</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="date" class="form-control" id="missingDate" name="missingDate">
                      <label for="missingDate">발견/실종 일자</label>
                    </div>
                    <div class="form-floating">
                      <textarea class="form-control"id="content" style="height: 100px"></textarea>
                      <label for="content">글 내용</label>
                    </div>
                    <input type="submit" id="submit" value="등록" />
                  </form>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">리스트</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </section>
    <!-- Footer-->
    <%- include('includes/footer') %> 
  </body>
</html>
