#articles-list {
  list-style: none;
  background-color: bisque;
  margin: 2rem 0;
  border-radius: 12px;
  box-shadow: 2px 2px 6px #333;
  padding: 1em;
}

.article-item {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 2px 2px 6px rgba(87, 87, 87, 0.2);
  background-color: rgb(217, 230, 239);
  color: rgb(21, 17, 8);
  text-align: left;
}
.content-container {
  margin-bottom: 2em;
}
.input-reply {
  width: 200px;
  margin-left: auto;
  margin-top: 0.5em;
  border-radius: 6px;
}
.reply-container {
  background-color: white;
  box-shadow: 0px 0px 2px #333;
  margin: 0;
}

.reply-content {
  text-align: left;
  font-size: 1em;
  margin: 0;
}
.reply-created {
  text-align: right;
  font-size: 0.7em;
  margin: 0;
}
.article-item h2 {
  font-size: 1.25rem;
  margin: 0.25rem 0;
}

li {
  list-style: none;
}
.article-item p {
  margin: 0.2rem 0;
  color: rgb(133, 129, 121);
}

.article-meta {
  margin-bottom: 0.5rem;
}

.article-meta p {
  color: rgb(122, 112, 90);
}

.article-actions {
  margin-top: 1rem;
  text-align: right;
}

.article-actions input {
  padding: 0.5rem 1.5rem;
  background-color: rgb(66, 134, 230);
  border-radius: 4px;
  border: 1px solid blue;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.article-actions input:hover,
.article-actions input:active {
  color: black;
  background-color: rgb(211, 170, 235);
}
